$color-bg-default: #8f949e21;
$color-border-app: #272121ba;

$color-green: #5cb85c;
$color-green-border: #4cae4c;
$color-green-hover: #449d44;
$color-green-border-hover: #398439;

$color-red: #d9534f;
$color-red-border: #d43f3a;
$color-red-hover: #c9302c;
$color-red-border-hover: #ac2925;

$color-orange: #f0ad4e;
$color-orange-border: #eea236;
$color-orange-hover: #ec971f;
$color-orange-border-hover: #d58512;

$color-black: #000000;

$trans: 0.2s ease-in;
